/*
#1 = 1E2BB2
#2 = 79CDC0
*/
a {
	color: #35A49C;
}
a:hover {
	color: #1E2BB2;
}
.company {
	color: #79CDC0;
}
/* menu */
.nav>li>a:hover {
	color: #79CDC0;
}

.navbar .navbar-nav > .active > a {
	color: #79CDC0;
}

/* flexslider */
.flex-control-paging li a {
	background: #1E2BB2;
}

.flex-direction-nav a:hover{
	background-color:#1E2BB2;
}

.testimonial span.author a {
	color: #79CDC0;
}

/* --- icon box hover --- */
.hi-icon-effect-5 .hi-icon {
	color: #1E2BB2;
	box-shadow: 0 0 0 4px #1E2BB2;
}
.no-touch .hi-icon-effect-5 .hi-icon:hover {
	background: #1E2BB2;
	box-shadow: 0 0 0 8px  #79CDC0;
}


/* portfolio */
.portfolio-item .portfolio-desc {
	background: rgba(30, 43, 178, 0.5);
}

/* btn */
.btn-theme {
  background: #79CDC0;
}
.btn-theme:hover,.btn-theme:focus,.btn-theme:active{
  background: #1E2BB2;
}
.btn-cta,.btn-cta.btn-lg {
  background: #1E2BB2;
  border-color: #79CDC0;
}

.btn-cta:focus,.btn-cta:active{
   border-color: #1E2BB2;
}

/* contact */
.validation {
	color:#1E2BB2;
}

/* footer */
.social-circle li a {
	background:#35A49C;
}

a.scrollup{
	background:#1E2BB2;
}
